In [20]:
import pandas as pd

In [21]:
def read_large_file(file_path):
    chunk_size = 1_000_000 
    df = pd.concat(pd.read_csv(file_path, chunksize=chunk_size))
    return df

In [22]:
file_path = r'R:\RawData\PNP SAP\Tiger Brands_Tiger_Consumer_Brands_WeeklyExtract_20230717_20230723.csv'
df = read_large_file(file_path)

In [27]:
file_path = r'R:\RawData\PNP SAP\Tiger_Consumer_Brands_WeeklyExtract_20230710_20230716.csv'
df_compare = read_large_file(file_path)

In [40]:
columns_df1 = df.columns.tolist()
columns_df2 = df_compare.columns.tolist()

In [43]:
max_length = max(len(columns_df1), len(columns_df2))
columns_df1 += [""] * (max_length - len(columns_df1))
columns_df2 += [""] * (max_length - len(columns_df2))

compared_df = pd.DataFrame({"Last Week": columns_df2, "This Week": columns_df1})

In [44]:
compared_df

                              Last Week                            This Week
0                    Calendar Week/Year                   Calendar Week/Year
1        Start Date of Fiscal Week/Year       Start Date of Fiscal Week/Year
2                      Fiscal Week/Year                     Fiscal Week/Year
3                    Fiscal Period/Year                   Fiscal Period/Year
4                         Category (CM)                        Category (CM)
5                    Category (CM) Text                   Category (CM) Text
6                     Sub Category (CM)                    Sub Category (CM)
7                Sub Category (CM) Text               Sub Category (CM) Text
8                                   BMC                                  BMC
9                              BMC Text                             BMC Text
10                              Country                              Country
11                      Operating Group                      Operating Group
12                Region (Geographical)                 Operating Group Text
13                         Site Profile                     Operating Region
14                              Barcode                Operating Region Text
15                       PnP Brand Name                Region (Geographical)
16                              Article                         Site Profile
17                         Article Text                              Barcode
18                 PnP Variant Quantity                       PnP Brand Name
19                      PnP Variant UOM                              Article
20                                 Site                         Article Text
21                            Site Text                 PnP Variant Quantity
22                           Sales Unit                      PnP Variant UOM
23                       VAT Loc Cur TY                                 Site
24                       VAT Loc Cur LY                            Site Text
25  Sales Value Net Excl VAT Loc Cur TY                           Sales Unit
26  Sales Value Net Excl VAT Loc Cur LY                       VAT Loc Cur TY
27         Sales Quantity Sales Unit TY                       VAT Loc Cur LY
28         Sales Quantity Sales Unit LY  Sales Value Net Excl VAT Loc Cur TY
29                                       Sales Value Net Excl VAT Loc Cur LY
30                                              Sales Quantity Sales Unit TY
31                                              Sales Quantity Sales Unit LY

In [49]:
compared_df.to_excel("C:\\Users\\tsello01\\Documents\\Data\\PnP.xlsx", index=False)

In [48]:
df[['Sub Category (CM)', 'Category (CM) Text', 'Sub Category (CM) Text']].drop_duplicates(subset='Sub Category (CM)').sort_values('Sub Category (CM)', ascending=True, ignore_index=True)

,Sub Category (CM),Category (CM) Text,Sub Category (CM) Text
0,5000884,Carbonated Soft Drinks,Carbonated Soft Drinks
1,5000886,Coffee,Coffee
2,5000890,Carbonated Fruit Juices,Carbonated Fruit Juices
3,5000891,Concentrated Nectars,Concentrated Nectars
4,5000892,Cordials & Squashes,Cordials And Squashes
...,...,...,...
199,5003592,Skincare Face & Neck,Skincare Male Face & Neck
200,5003593,Skincare Hand & Body,Skincare Everyday Hand & Body
201,5003594,Skincare Hand & Body,Skincare Female Hand & Body
202,5003595,Skincare Hand & Body,Skincare Male Hand & Body
203,5003596,Skincare Hand & Body,Skincare Medicated Hand & Body